/* my style */
body{
	padding: 0;
	margin: 0;
	background:whitesmoke;
	font-family: 'Angkor', Tahoma, Geneva, Verdana, sans-serif;
}
/* start btn scroll to top */
.btn-scroll-top{
	position:fixed;z-index:1234;bottom:10px;background:rgba(0,0,0,0.5);
	border-radius:5px;right:10px;color:white;font-size: 2rem;
	transition: 0.5s;
	padding: 0.5rem;
	display: none;
}
.btn-scroll-top:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.8);
	padding: 0.2rem;
	font-size: 2.5rem;
}
/* end btn-scroll to top */
.container-fluid{
	position: relative;
}
.bg-white{
	background:white;
}
.border-top-red{
	border-top:1px solid #D05C58;
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.text-gray{
	color:gray;
}
.container{
	max-width: 1150px;
	margin: auto;
	overflow: hidden;
}
.wrapper-div{
	width: 100%;
	float: left;
	overflow: hidden;
}
.mt-100{
	margin-top:100px;
}
.mb-40{
	margin-bottom:40px;
}
h1{
	padding:0;
	margin:0;
}
h4,p{
	margin:0;
	padding-top: 0;
	font-family: 'Battambang',sans-serif;
	font-size: 1.3rem;
}
.w-100{
	width:100%;
}
.wrapper-logo{
	float: left;box-sizing: border-box;height:100%;
	padding-top:10px;padding-bottom:10px
}
.wrapper-img-width{
	width:125px;float: left;
}
.wrapper-img-width img{
	width:100%;box-sizing: border-box;
}
.wrapper-logo-title{
	float:left;height: 100%;
}
.wrapper-logo-title h2{
	font-weight: normal;color:rgb(11, 80, 14);margin-top:0px;padding-top: 15px
}
.bg-nav{
	background-color: rgb(106, 248, 252);
}

.padding-15{
	padding:15px;
}
.shadow-left-side{
	box-shadow: -2px 1px 3px 0px whitesmoke;
	box-sizing: border-box;
}
.shadow-right-side{
	background:white;
	box-sizing: border-box;
	box-shadow: 2px 1px 4px gray;
}

.box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-shadow{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.text-shadow1{
	text-shadow: 1px 2px 4px black;  
}
.d-inline{
	display: inline;
}
.d-block{
	display: block;
}
.w-100{
	width: 100%;
}
.top-bar{
	width: 98%;
	padding:0 1%;
	position:fixed;
	background-color:#D05C58;
	transition: 0.5s;
	top: 0;
	left: 0;
	z-index: 999999;
}
.m-auto{
	margin: auto;
}
.btn-menu{
	float:right;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 3px;
	padding: 5px 15px;
	margin-top:15px;
	cursor: pointer;
	display: none;
}
.btn-menu:hover .menu-div{
	opacity: 1;
}
.menu-div{
	width: 25px;
	height: 2px;
	border-radius: 3px;
    background-color: white;
	margin: 6px 0;
	opacity: 0.8;
}
/* start nav bar menu */
.nav-bar{
	float: right;
	width: available;
	display: block;
}
.nav-bar ul{
	list-style-type: none;
	padding:0px;
	margin:0;
	float: left;
}
.nav-bar ul li{
	float: left;  
	padding: 27px 20px;    
	cursor: pointer;
	transition: 0.5s;
}
.nav-bar ul li a{
	text-decoration: none;
	color:white;  
	transition: 0.5s; 
	opacity: 0.8; 
	font-weight: bold;   
}
.nav-bar ul li:first-child{
	background-color:rgba(228, 92, 88,1);
	padding-top: 25px;
	padding-bottom: 40px;
}
.nav-bar ul li:first-child a{
	color: white;
}
.nav-bar ul li:hover a{
	opacity: 1;
  	text-shadow: 1px 2px 4px black;      
}
/* end nav bar menu */
/* start slide */
.slide-box{
	position:relative;
}
.wrapper-slide-title{
	position: absolute;
	padding:15px 25px;
	transition:0.5s;
	color:white;
	left: 0px;
	bottom: 25%;
	z-index: 10;
}
.wrapper-slide-title h1{
	font-size: 30px;
}
.wrapper-slide-title h4{
	opacity: 0.7;
}
.wrapper-slide-photo{
	transition: 0.5s;
	width:380px;
	position: absolute;
	right: 10px;
	bottom: 40px;
}
.wrapper-slide-photo img{
	width: 100%;
}
/* end slide */
.section-left{
	width:100%;
	float:left;
	box-sizing: border-box;
}
.section-right{
	width: 100%;float: left;
	box-sizing: border-box;
}
.section-content{
	width:100%;float:left; 
	padding:0 0px 15px 10px;
}
.wrapper-content-box{
	width:48%;float:left;margin:1% 1% 0 0;transition: 0.5s;
	border-bottom:1px solid #eee;;
}
.wrapper-content-box:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.content-img{
	width:44%;
	height: 200px;
	float:left;
	padding:3%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.content-img img{
	width: 100%;
}
.tag{
	position:absolute;
	width:70px;
	padding:5px;
	color:white;
	font-weight:bold;
	text-align:center;
	background:#D05C58;
	bottom:0;left:0;z-index:10;
	font-size:14px;
}
.content-detail{
	width:46%;padding:2%;
	float:left;
	color:rgba(0,0,0,0.7);
	transition:0.5s;
	text-transform: capitalize;
}
.content-detail span{
	font-weight:normal;
	color: black;
	font-size: 20px;
}
.content-detail p{
	font-size:0.9rem;
	opacity: 0.5;
	margin-top: 10px;
}
.purpose-section{
	width:80%;float:left;background:white;padding:5% 10% ;
}
.purpose-section h1{
	padding: 0;
	margin:0;
}
.purpose-section span{
	color:black;
	opacity: 0.7;
}
/* start right menu */
.wrapper-right-menu{
	float:left;
	padding:5%;
	width:100%;
	border:1px solid rgb(40, 167, 69);
	border-radius: 5px;
	box-sizing:border-box;
}
.header-right-menu{
	float:left;width:96%;padding:2%;border-radius:4px;
	background: rgba(177, 223, 187,0.5);
	color:rgb(36, 143, 61);
	text-align:center;
	margin-bottom: 5px;
}
.header-right-menu span{
	color:rgb(36, 143, 61);
}
.wrapper-box-menu{
	border-radius:50%;
	position:relative;
	float:left;
	width:90px;
	height:90px;
	background-repeat: no-repeat;
	background-size: cover;
	margin:4% 4% 0 0;
	transition: 0.5s;
}
.bg-menu-title{
	width:80%;position:relative;height:80%;margin:10%;background:rgba(255,255,255,0.6);
	border-radius: 50%;
	transition: 0.5s;
}
.wrapper-box-menu:hover .bg-menu-title{
	width:100%;
	height: 100%;
	margin:0;
	background:rgba(255,255,255,0.8);
}
.wrapper-box-menu:hover .bg-menu-title span{
	top:40%;left:25%;
}
.bg-menu-title span{
	position:absolute; top:30%;left:20%;color:rgb(3, 42, 3);transition:0.5s;
	font-size: 0.95rem;
}
/* end right menu */
/* start footer */
.footer-bg{
	background-image:url('../multi-media/image/Mahob-kh.jpg');background-size:cover;background-position:center;background-repeat:no-repeat;
}
.footer-wrapper{
	padding:40px 0;width:available;margin:auto;background-color:rgba(255,255,255,0.4);
}

.footer-section{
	width:42%;margin-right:1%;float: left;
}
.footer-section p{
	margin-top: 15px;
	color: black;
	opacity: 0.7;
	font-size: 0.9rem;	
}
.border-btm{
	margin-top:5px;width:100px;height:4px;background:#D05C58;
}
.footer-btm{
	padding:2px 0;float:left;width:100%;background-color:#eee;
}
.footer-btm h6{
	padding:0;margin:0;color:black;opacity: 0.8;text-align:center;font-size:0.6rem;font-weight:normal
}

/* start about */
.about-section{
	float:left;position:relative;
	z-index: -1;
	background-size:cover;
	background-position:right;
	background-image:url('../multi-media/image/rupp.jpg');
	background-repeat:no-repeat;
	width:100%;
	padding: 2%;
}
.about-section h1{
	color:rgb(233, 233, 3);
}
.bg-about{
	background:rgba(255,255,255,0.9);width:100%;overflow:hidden;margin-bottom:10px;
}
.about-padding{
	padding:30px;float:left;
}
.about-box-detail{
	width:75%;float:left
}
.about-box-detail p{
	font-size:1.1rem
}
.about-box-profile{
	width:25%;float:left;
	border-radius: 10px;
}
.profile-bg{
	background:white;width:90%;padding:5%;float:left;border-radius:5px;
}
.profile-box{
	width:100%;float:left;
}
.profile-box img{
	border-radius:50%;
	width:100%;
	border:4px solid white;
	box-sizing: border-box;
}
.profile-detail{
	width:100%;float:left;text-align:center;
}
.member-wrapper{
	width:100%;margin-top:-75px;float:left;z-index:9999;
}
.member-box{
	width:150px;float:left;margin-left: 5%;
	margin-bottom: 20px;
}
.member-box img{
	box-sizing:border-box; border:3px solid white;
}
/* end about */
/* end footer */
/* start subpage */
.big_slide{
	width: 100%;
	float: left;
}
.big_slide img{
	width: 100%;
}
.small_slide{
	width: 100%;
	background: #eee;
	float: left;

}
.description{
	width: 100%;
	overflow: hidden;
	padding: 10px;
}
.substance{
	width: 67%;
	overflow: hidden;
	float: left;
}
.new{
	width: 30%;
	overflow: hidden;
	float: right;
	margin-right: 20px;
}
.box_sub{
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.box_how{
	border: 1px solid #ddd;
}
.title{
	width: 100%;
	height: 70px;
	line-height: 65px;
	background: #ddd;
	padding-left: 25px;
	font-size: 25px;
	
}
.body_substance{
	width: 100%;
	overflow: hidden;
	padding: 20px;
}
.body_howto{
	width:100%;
	height: 300px;
	text-align: justify;
}
.body_howto p{
	padding: 0px 20px;
}
.food_name{
	width: 100%;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}
.food_name h1{
	color:rgb(0, 111, 54);
}
.title_new_food{
	position: absolute;
	width: 27.8%;
	height: 86px;
	line-height: 20px;
	background: rgba(0,0,0,0.5);
	margin-top: -126px;
	color: #fff;
	padding: 15px;      
}
.img_cover{
	position: relative;
}

/* end subpage */
/* stat submenu */
.wrapper-submenu{
	width:100%;float:left;
	margin-bottom: 40px;
}
.no-text-decoration{
	text-decoration: none;
	color: rgb(29, 107, 47);
	transition: 0.5s;
}
.no-text-decoration:hover{
	text-decoration: underline;
}
.wrapper-submenu-header{
	width:100%;float:left;border-bottom: 2px solid rgb(252, 255, 59);
}
.wrapper-submenu-header-style{
	width:100%;float:left;border-bottom: 5px solid #D05C58;
}
.sub-content{
	color:#D05C58;font-size: 1.9rem
}
.btn-see-more{
	float:right;
	margin-right: 15px;
}
.btn-see-more a{
	text-decoration:none; color:#D05C58;font-size:0.9rem;
}
.btn-see-more a i {
	background-color:#D05C58;color:white;padding:3px;font-size:0.5rem;
	border-radius: 50%
}
.wrapper-content-box-submenu{
	width:100%;float:left
}
.btn-see-more-subpage{
	width:100%;float:left; margin-top: 10px;
	transition: 0.5s;
}
.btn-see-more-style:hover {
	background:green;
	border:2px solid yellow;
	color: yellow;
	box-shadow: 0 10px 20px gray;	
}
.btn-see-more-style{
	background:rgb(106, 248, 252);border-radius:50%;width:70px;
	height:70px;margin:auto;padding:10px;
	border:1px solid green;box-sizing:border-box;color:rgb(3, 73, 36);
	transition: 0.5s;cursor: pointer;
}
.btn-see-more-style span{
	font-size:0.8rem;
}
.wrapper-new-content{
	width:100%;float:left
}
.wrapper-new-content .header-new-content{
	width:100%;float:left;background:#eee;
}
.header-new-content h2{
	color:rgb(2, 99, 49)
}
.wrapper-new-content-bg{
	background:white;width:100%;float:left;
	margin-bottom: 40px;padding:20px 0 20px 20px
}
.new-content-card{
	width:31%;padding:2%;
	background:whitesmoke;margin:10px 0;float:left;
	box-sizing:border-box;
	border:1px solid #ccc;margin-right:2.3%;
	border-radius: 5px;transition: 0.5s;cursor: pointer;
}
.new-content-card .img-box{
	width:100%;float: left;
}
.new-content-card .img-box img{
	width: 100%;
}
.new-content-card .content-detail{
	width:100%;float:left
}
.new-content-card .content-detail span{
	font-size:1.2rem
}
.new-content-card .content-detail span{
	font-size:1rem
}
.new-content-card:hover{
	box-shadow: 0 0 10px gray;
	padding: 1% 0%;
}
/* end submenu */
/* start contact us */
.wrapper-con-photo{
	width:46%;padding:2%;float:left;
}
.wrapper-con-photo img{
	width:70%;margin:auto;
}
.form-box{
	width:94%;
	padding:2%;
	background:white;
	border-radius: 10px;
	float: left;
	margin-left:3%;
	margin-right:3%;
}
.form-box h2{
	color:#D05C58;
}
.form-box input, .form-box textarea{
	width:96%;
	padding:10px 2%;
	border-radius: 4px;
	border:1px solid #ccc;
	margin-bottom: 40px;
}
.form-box input[type="submit"]{
	background:#D05C58;
	transition: 0.5s;
	border:1px solid #D05C58;
	color:white;
	opacity: 0.9;
}
.form-box input[type="submit"]:hover{
	cursor: pointer;
	opacity: 1;
}
input[value], [placeholder]{
	 font-family: 'Angkor', Tahoma, Geneva, Verdana, sans-serif;
	 font-size: 1rem;
	 color: grey;
	 border:1px solid #D05C58;
}
.mb-50{
	margin-bottom: 50px;
}
.wrapper-con-box1{
	width:42%;
	float:left;
	padding:4%;
}
.radius{
	border-radius: 10px;
}
.wrapper-cont-box1 h2{
	color: rgb(16, 104, 20);
}
.wrapper-con-box1 p{
	font-size: 1rem;	
}
.wrapper-con-box1 p a{
	display: block;
	margin:0 0 30px 50px;
}

/* end contact us */
/* detail style */
.img-box{
	width:100%;
	float: left;
}
.img-box img{
	width:100%;
}
.box-detail-1{
	float: left;
	width:100%;
	background:white;
}
.box-detail-1 p{
	font-size:40px;
	margin-bottom: 10px;
	text-transform: capitalize;
}	
.box-detail-1 span{
	font-size: 18px;
	color:rgba(0,0,0,0.6);
	margin:10px;
}
.box-detail-2{
	float: left;
	width:100%;
	background:white;
	box-shadow: 2px 2px 2px #ccc;
	padding-bottom: 20px;
}
.box-detail-2 p{
	background:#eee;color:black;padding-top:10px;padding:25px 0px 15px 20px;
}
.box-detail-2 span{
	padding:50px;
	font-size:18px;
}
/* end detatil style */
/* Medium devices (landscape tablets,992px and Down) */
@media only screen and (max-width: 992px){
	
	.btn-menu{
		display: block;
	}
	/* start nav bar menu */
	.nav-bar{
		width: 100%;
		padding-bottom: 20px;
		display: none;
	}
	.nav-bar ul{
		width: 100%;
	}
	.nav-bar ul li{
		width:100%;
		padding: 20px 20px;    
		cursor: pointer;
	}
	h1{
		font-size: 1.2rem;
	}
	h4{
		font-size: 0.9rem;
	}
	
	/* end nav bar menu */
	.container{
		padding: 0;
		width: 98%;
		padding:0 1%;
		float: left;
	}

	.section-right,.section-left{
		width:100%;
		margin-right: 0%;
	}
	.footer-section{
		width:100%;
	}
	.wrapper-content-box{
		width:49%;float:left;margin:1% 1% 0 0;transition: 0.5s;
	}
	.about-box-profile{
		width:250px;
	}
	.about-box-detail{
		width:100%;
	}
	.wrapper-slide-title h1{
		font-size: 20px;
	}
	.wrapper-slide-title h4{
		font-size: 16px;
	}
	.wrapper-slide-photo{
		width:250px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	.btn-menu{
		display: none;
	}
	.nav-bar{
		display: block;
	}
	.container{
		width: 90%;
		margin: auto;
	}
	.container-fluid{
		width: 100%;
	}
	
	.footer-section{
		width:32%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.nav-bar{
		display: block;
	}
	.container{
		max-width: 1150px;
		margin: auto;
		overflow: hidden;
	}
	.container-fluid{
		width: 100%;
		float: left;
		overflow: hidden;
	}
	.mt-100{
		margin-top: 100px;
	}
	.footer-section{
		width:32%;
	}
}
